/*comment*/
body {
  font-family: arial,sans-serif;
  background: #fff; 
}

img{
  /*display: inline-block;*/
  display: block;
  margin: auto;
  height:60px;
  width:60px;
  /*vertical-align: top;*/
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none; /*removes bullet point*/
  margin: 4px 0;
  padding: 0;
}

li:first-letter{
  text-transform: capitalize;
}

.app-wrapper{
  max-width:700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  /*border: 1px solid #885df1;*/
  /*border-radius: 40px;*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) ;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }

.weather-column{
  color: #70757a;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  left: 85px;
  
}

.city-column{
  text-align: left;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.code {
  margin-top: 50px;
}

.units{
  color: #202124;
  line-height: 24px;
  font-size: 14px;
  display:inline-block;
  position: relative;
  top: -22px;
  left: -2px;
}

#city {
  font-size: 24px;
  color:#202124;
  line-height: 26px;
}

#temperature {
  color: #202124;
  line-height: 60px;
  font-size: 48px;
  font-weight: lighter;
}

.weather-forecast{
  margin-top: 35px; 
  text-align: center;
  color: #70757a;
  font-size: 16px;
}

.forecast-temperatures{
  font-size: 13px;
}

.max {
  color: #878787 !important;
}

